.about{
   /*  display: flex;
    flex-direction: column; */
}
.about img{
    width: 640px;
    height: auto;
}
.about-spa{
display: flex;
align-items: center;
flex:1
}
.about-food{
display: flex;
align-items: center;
}
.about-health{
display: flex;
align-items: center;
}
.about-health img{
    height: 640px;
}
.about-title{
    text-align: center;
    margin: 50px;
}
.explore-more-about{
    text-align: center;
    align-items: center;
    padding:10px;
    border: 1px solid black;
    border-radius: 1px 20px 20px 20px;

}
