.shop {
    padding: 0 20px;
}

.shopTitle {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
   
}

.product {
    border-radius: 15px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width: 100%;
    height: 100%;
}

.product .description {
    text-align: center;
}

.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}

.description p,b{
    margin: 10px 0;
}
.shopTitle {
    justify-content: left;
    display: inline-block;
}
.shopTitle h3{
    float: left;
    margin-left: 80px;
    font-size: 60px;
    font-style: italic;
    border-bottom: 1px solid rgb(19, 19, 19);
}

.form-shop {
    display: flex;
    margin: 50px 10px 10px 80px;
    width: 100%;
}

.form-shop select {
    padding: 14px 32px;
}

.form-shop input {
    padding: 14px;
    margin: 10px 10px 10px 0;
    width: 100%;
}

.search-bar {
    width: 30%;
}
.icon-search button{
    padding: 14px 24px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(20, 217, 27);
    border: none;
    color: #fff;
    font-weight: 600;
    opacity: 0.6;
}

.icon-search button:hover {
    opacity: 1;
}

.sort {
    display: flex;
    justify-content: space-between;
}

.sort-shop {
    margin: 50px 10px 10px 80px;
}

.sort-shop select{
    padding: 14px 32px;
}

.page-count {
    margin: 50px 20px 100px 100px;
}

.page-number-count {
    display: flex;
    list-style: none;
    padding: 12px 32px;
}